* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    padding: 24px;
}

.block_1__wrap {
    border-bottom: 1px solid;
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.block_1 {
    height: 200px;
    background-color: blue;
    position: relative;
}

.block_1__text {
    position: absolute;
    top: 24px;
    right: 24px;
    color: black;
    font-size: 12px;
    background-color: whitesmoke;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 8px;
}

.block_2 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    height: 200px;

}

.block_2__1  {
    width: 100%;
    background-color: rgb(54, 200, 17);
}

.block_2__2  {
    width: 100%;
    background-color: rgb(54, 200, 17);
}

.block_3 {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    gap: 24px;
    padding: 24px;
    margin-bottom: 24px;
}

.block_3__1  {
    display: flex;
    gap: 24px;
    align-items: center;
}

.block_3__1-1  {
    background-color: blueviolet;
    height: 60px;
    width: 100%;
}

.block_3__1-2  {
    background-color: rgb(54, 200, 17);
    height: 20px;
    width: 40px;
}


.block_3__2  {
    display: flex;
    gap: 24px;
    align-items: end;
}

.block_3__2-1  {
    background-color: blueviolet;
    height: 60px;
    width: 100%;
}

.block_3__2-2  {
    background-color: rgb(54, 200, 17);
    height: 20px;
    width: 40px;
}

.block_4 {
    display: flex;
    justify-content: space-between;
}

.block_4__1 {
    display: flex;
    gap: 16px;
}

.block_4__1-1 {
    background-color: blueviolet;
    width: 100px;
    height: 200px;
}

.block_4__1-2 {
    background-color: rgb(54, 200, 17);
    width: 100px;
    height: 200px;
}

.block_4__2 {
    background-color: blueviolet;
    width: 100px;
    height: 200px;
}